<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_PHOTOS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XPoseTracker"
        tools:targetApi="31">
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.calculator.PolriFitnessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.calculator.TniFitnessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tutorial.TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".ui.faq.QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.result.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.edit_member.EditMemberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.edit_activity.EditEventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail_member.DetailMemberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.add_member.AddMemberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail_activity.DetailEventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.add_activity.AddEventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.record_supervisor.SupervisorRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.record_private.PrivateRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.editprofile.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.XPoseTracker" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
    </application>

</manifest>